*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333
}

.navLinks{
    text-decoration: none;
    color: white;
}

h3:hover{
    text-decoration: underline;
    text-decoration-color: #000000;
    text-underline-offset: calc(19px);
}

nav{
    background: #007bff;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bannerHeadline{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}