*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333
}

.navLinks a{
    text-decoration: none;
    color: white;
}

h3:hover{
    text-decoration: underline;
    text-decoration-color: #000000;
    text-underline-offset: calc(19px);
}

nav{
    background: #007bff;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bannerHeadline{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
    font-size: larger;
}

.bannerHeadline a{
    text-decoration: none;
}

.searchBox{
    display: flex;
    gap: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
}

input{
    border: none;
}

input:click{
    border: none;
    outline: none;
}

select{
    border: none;
}

button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}